<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上传成功</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px; /* 设置内边距 */
            text-align: center; /* 可选：居中文本 */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>数据展示</h2>
        <!-- 将 DataFrame 的 HTML 表格插入到页面中 -->
        {{ table|safe }}
        

        <!-- 分页 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page_num in range(1, total_pages + 1) %}
                    <a class="page-link" href="{{ url_for('table_show', page=page_num) }}">{{ page_num }}</a>
                    &nbsp
                {% endfor %}
            </ul>
        </nav>
    </div>

    
    <form action="{{ url_for('run3DBPP') }}" method="post">
        <button type="submit" id="start_button">运行装箱算法</button>
    </form>
    
    <div id="data_display" style="width: 1000px; height: 200px; border: 1px solid #ccc; overflow: auto; padding: 10px;"></div> <!-- 数据显示区域 -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#start_button').click(function() {
                $.ajax({
                    url: '/start_process',
                    type: 'POST',
                    success: function(response) {
                        alert(response.message);
                    }
                });
            });
    
            // 定时获取最新数据
            setInterval(function() {
                $.ajax({
                    url: '/get_data',
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        if (response.data !== 'No data available') {
                            $('#data_display').append(response.data + '<br>'); // 将数据附加到文本框中
                        }
                    }
                });
            }, 1000); // 每秒轮询一次
        });
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <button id="提前终止">Stop Computation</button>

    <script>
        $(document).ready(function(){
            $("#提前终止").click(function(){
                $.ajax({
                    type: 'POST',
                    url: '/interrupt',
                    success: function(response) {
                        console.log("Backend process interrupted.");
                    }
                });
            });
        });
    </script>

</body>
</html>