<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上传成功</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px; /* 设置内边距 */
            text-align: center; /* 可选：居中文本 */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>数据展示</h2>
        <!-- 将 DataFrame 的 HTML 表格插入到页面中 -->
        {{ table|safe }}
        

        <!-- 分页 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for page_num in range(1, total_pages + 1) %}
                    <a class="page-link" href="{{ url_for('table_show', page=page_num) }}">{{ page_num }}</a>
                    &nbsp
                {% endfor %}
            </ul>
        </nav>
    </div>

    <button id="startTaskBtn">开始任务</button>
    <!-- 任务状态显示 -->
    <div id="taskStatus">任务尚未开始</div>

    <script>
        $(document).ready(function(){
            $("#startTaskBtn").click(function(){
                $.ajax({
                    type: "POST",
                    url: "/run3DBPP",
                    // 根据需要发送任何数据，比如表单数据
                    // data: { key: "value" },
                    success: function(response){
                        var taskId = response.task_id;
                        console.log("任务ID: " + taskId);
                        // 在这里调用检查任务状态的函数，传入任务ID
                        checkTaskStatus(taskId);
                        $("#taskStatus").text("任务已开始，正在处理中...");
                    },
                    error: function(error){
                        console.log("错误: ", error);
                        $("#taskStatus").text("启动任务时发生错误。");
                        
                    }
                });
            });
        });
        
    </script>
    
    <script>
        function checkTaskStatus(taskId) {
            fetch(`/task/${taskId}`)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'completed') {
                    // 任务完成时弹出提示框
                    alert("任务完成！");
                    // 用户点击确定后跳转到新的页面
                    window.location.href = '/pack_report'; // 将'/nextPage'替换为您的目标页面的路由
                } else if (data.status === 'pending') {
                    console.log("任务正在进行中...");
                    setTimeout(() => checkTaskStatus(taskId), 1000); // 1秒后再次检查
                } else {
                    // 任务失败或找不到任务
                    console.log(data);
                    alert("任务失败或找不到任务");
                }
            })
            .catch(error => console.error('Error:', error));
        }
        
        // 传入任务ID开始检查任务状态，假设taskID是从某处获取的
        // checkTaskStatus(taskID);
    </script>

    <div id="data_display" style="width: 1000px; height: 200px; border: 1px solid #ccc; overflow: auto; padding: 10px;"></div> <!-- 数据显示区域 -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#start_button').click(function() {
                $.ajax({
                    url: '/start_process',
                    type: 'POST',
                    success: function(response) {
                        alert(response.message);
                    }
                });
            });
    
            // 定时获取最新数据
            setInterval(function() {
                $.ajax({
                    url: '/get_data',
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        if (response.data !== 'No data available') {
                            $('#data_display').append(response.data + '<br>'); // 将数据附加到文本框中
                        }
                    }
                });
            }, 1000); // 每秒轮询一次
        });
    </script>
    

    <button id="提前终止">Stop Computation</button>

    <script>
        $(document).ready(function(){
            $("#提前终止").click(function(){
                $.ajax({
                    type: 'POST',
                    url: '/interrupt',
                    success: function(response) {
                        console.log("Backend process interrupted.");
                    }
                });
            });
        });
    </script>

</body>
</html>